body {
  background-color: grey;
}

.white {
  background-color: rgb(242, 241, 241);
  width: 48px;
  height: 48px;
}
.black {
  background-color: rgb(198, 61, 30);
  width: 48px;
  height: 48px;
}
.box {
  border: 49px solid #462921;
  margin-left: auto;
  margin-right: auto;
}
h1 {
  text-align: center;
  font-size: 4rem;
  color: rgb(0, 65, 0);
  text-shadow: -1px -1px rgb(228, 215, 166);
  font-family: "Pirata One", cursive;
}
